<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<h2>Registro de Producción</h2>

<!-- Botón de descarga de informes -->
<div class="actions-container">
  <button class="download-btn" (click)="descargarInforme()">
    <span class="material-icons">download</span> Descargar Informe
  </button>
</div>

<!-- Filtros -->
<div class="filter-container">
  <input type="text" class="search-bar" placeholder="Buscar..." [(ngModel)]="searchText" (input)="filterPackings()" />
  <input type="date" class="date-filter" [(ngModel)]="startDate" (change)="filterPackings()" placeholder="Fecha de inicio" />
  <input type="date" class="date-filter" [(ngModel)]="endDate" (change)="filterPackings()" placeholder="Fecha de fin" />
</div>

<!-- Tabla -->
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Cantidad</th>
      <th>Tipo de Empaque</th>
      <th>Fecha de Creación</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let packing of paginatedPackings">
      <td>{{ packing.idpacking }}</td>
      <td>{{ packing.name }}</td>
      <td>{{ packing.quantity }}</td>
      <td>{{ packing.packagingTypeId.name }}</td>
      <td>{{ packing.creationDate | date }}</td>
    </tr>
  </tbody>
</table>

<!-- Controles de paginación -->
<div class="pagination-controls">
  <button (click)="previousPage()" [disabled]="currentPage === 1">Anterior</button>
  <button (click)="nextPage()" [disabled]="currentPage === totalPages">Siguiente</button>
</div>
